//@import "../../../node_modules/@angular-mdl/core/scss/material-design-lite";
//@import "../../../node_modules/@angular-mdl/core/scss/mdl/button/button";
@import "../../att-partial";
@import "att-button.scss";


:host {
  display: block;
  position: relative;
}

.mdl-button {
  display: block;
  border-radius: $button-border-radius;
  min-width: $button-min-width;
  height: 2rem;
  width:100%;
  transition: none;
  text-align: center;
  @include typo-button();
  line-height: $button-line-hight;
  [class*="icon-"]{
    color:$button-primary-text;
  }
}

.role-special {
  @include buttonEvents($button-primary-special, $button-primary-special-hover, $button-primary-text);
}

.role-functional {
  @include buttonEvents($button-primary-func, $button-primary-func-hover, $button-primary-text);
}

.role-promo {
  @include buttonEvents($button-primary-promo, $button-primary-promo-hover, $button-primary-text);
}

.role-second {
  @include buttonEvents($button-secondary, $button-secondary-hover, $button-secondary-text);
}

/*
.width-pair{
  width: 50%;
}
.width-fit{
  width: auto;
}
.width-strech{
  width: 100%;
}

*/
