@import "../../../src/MDL-override.scss";
@import "../../../node_modules/@angular-mdl/core/scss/material-design-lite";


:host {
  display: block;
  position: relative;
}
.mdl-button {
  border-radius: 20px; //$button-border-radius
  min-width: 0; //$button-min-width;
  transition: none;
  text-align: center;
  @include typo-button();
  &::-moz-focus-inner {
    border: 0;
  }
}

.role-special{
  background-color: $color-primary-special;
  color: #ffffff;
  &:hover {
    background-color: $color-primary-special-hover;
  }
  &:focus:not(:active) {
    background-color: $color-primary-special;
  }
  &:active {
    background-color: $color-primary-special-hover;
  }
  &.mdl-button--colored {
    color: $color-primary-special;

    &:focus:not(:active) {
      background-color: $color-primary-special;
    }
  }

}
.role-functional{
  background-color: $color-primary-func;
  color: #ffffff;
  &:hover {
    background-color: $color-primary-func-hover;
  }
  &:focus:not(:active) {
    background-color: $color-primary-func;
  }
  &:active {
    background-color: $color-primary-func-hover;
  }
  &.mdl-button--colored {
    color: $color-primary-func;

    &:focus:not(:active) {
      background-color: $color-primary-func;
    }
  }
}
.role-promo{
  background-color: $color-primary-promo;
  color: #ffffff;
  &:hover {
    background-color: $color-primary-promo-hover;
  }
  &:focus:not(:active) {
    background-color: $color-primary-promo;
  }
  &:active {
    background-color: $color-primary-promo-hover;
  }
  &.mdl-button--colored {
    color: $color-primary-promo;

    &:focus:not(:active) {
      background-color: $color-primary-promo;
    }
  }
}
.role-second{
  background-color: $color-primary-second;
  color: #0568ae;
  &:hover {
    background-color: $color-primary-second-hover;
  }
  &:focus:not(:active) {
    background-color: $color-primary-second;
  }
  &:active {
    background-color: $color-primary-second-hover;
  }
  &.mdl-button--colored {
    color: $color-primary-second;

    &:focus:not(:active) {
      background-color: $color-primary-second;
    }
  }
}
.width-pair{
  width: 50%;
}
.width-fit{
  width: auto;
}
.width-strech{
  width: 100%;
}

