// holds the specific att button vars to styling

@import "../../assets/stylesheets/att-variable";

$att-btn-borderRadius: 100px;
$att-btn-textAlign: center;

$att-btn-primary-functional-color-altBlue: #087ac2;
$att-btn-primary-functional-hover-color-altBlue: #0563a6;
$att-btn-primary-promo-color-altOrange: #d16500;
$att-btn-primary-promo-hover-color-altOrange: #c96100;

$att-btn-primary-special-color-altGreen: #008744;
$att-btn-primary-special-hover-color-altGreen: #007339;

$att-btn-primary-special-color-altGray:#fcfcfc;
$att-btn-primary-special-hover-color-altGray:#f0f0f0;
