.att-icons{
  background-image: url('/assets/att-icons.png');
  background-size: 1855px 30000px;
  background-position: 0 0;
}

.plus-icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: -36.7rem -62rem;
}
