//<----Colors---->
$att-color-white: #ffffff;
$att-color-functionalBackgroundGray: #f2f2f2;
$att-color-darkBlue: #0568ae;
$att-color-orange: #ea7400;
$att-color-functionalGreen: #007a3e;
$att-color-functionalRed: #cf2a2a;
$att-color-blue: #009fdb;
$att-color-lightGreen: #b5bd00;
$att-color-lightGray: #d2d2d2;
$att-color-gray: #959595;
$att-color-auxiliaryGray: #767676;
$att-color-darkGray: #5a5a5a;
$att-color-functionalBlack: #191919;

//<----Padding---->

$att-large-padding: 60px;
$att-medium-padding: 30px;
$att-small-padding: 20px;


//<----Typography---->
$font-size-base: 16px;
$att-heading-page: 3.8rem;
$att-heading-major-section: 3rem;
$att-heading-sub-section: 2.4rem;
$att-heading-medium: 2rem;
$att-heading-small-content: 1.8rem;
$att-heading-small: 1.6rem;



//<---- Media queries breakpoints---->
$att-screen-xs-min: 320px;
$att-screen-xs-max: 479px;

$att-screen-s-min: 480px;
$att-screen-s-max: 767px;

$att-screen-m-min: 768px;
$att-screen-m-max: 1024px;

$att-screen-l-min: 1025px;
$att-screen-l-max: 1919px;

$att-screen-xl-min: 1920px;

//tabs
//border color and width

//separators


/*buttons*/

$att-btn-borderRadius: 100px;
$att-btn-textAlign: center;

$att-btn-primary-functional-color-altBlue: #087ac2;
$att-btn-primary-functional-hover-color-altBlue: #0563a6;
$att-btn-primary-promo-color-altOrange: #d16500;
$att-btn-primary-promo-hover-color-altOrange: #c96100;

$att-btn-primary-special-color-altGreen: #008744;
$att-btn-primary-special-hover-color-altGreen: #007339;

$att-btn-primary-special-color-altGray:#fcfcfc;
$att-btn-primary-special-hover-color-altGray:#f0f0f0;


