@import "att-variable";
* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

// hr.lite{

// }




/*
//Omnes_ATT W02 Light
@font-face {
  font-family: omnes-light;
  src: url('fonts/omnes-att/omnes-att-w02-light.eot');
  src: url('fonts/omnes-att/omnes-att-w02-light.eot?#iefix') format('embedded-opentype'),
  url('fonts/omnes-att/omnes-att-w02-light.woff') format('woff'),
  url('fonts/omnes-att/omnes-att-w02-light.ttf') format('truetype'),
  url('fonts/omnes-att/omnes-att-w02-light.svg#omnes_att_regularregular') format('svg');
}

//Omnes_ATT W02 Regular
@font-face {
  font-family: omnes-regular;
  src: url('fonts/omnes-att/omnes-att-w02.eot');
  src: url('fonts/omnes-att/omnes-att-w02.eot?#iefix') format('embedded-opentype'),
  url('fonts/omnes-att/omnes-att-w02.woff') format('woff'),
  url('fonts/omnes-att/omnes-att-w02.ttf') format('truetype'),
  url('fonts/omnes-att/omnes-att-w02.svg#omnes_att_regularregular') format('svg');
}

//Omnes_ATT W02 Medium
@font-face {
  font-family: omnes-medium;
  src: url('fonts/omnes-att/omnes-att-w02-medium.eot');
  src: url('fonts/omnes-att/omnes-att-w02-medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/omnes-att/omnes-att-w02-medium.woff') format('woff'),
  url('fonts/omnes-att/omnes-att-w02-medium.ttf') format('truetype'),
  url('fonts/omnes-att/omnes-att-w02-medium.svg#omnes_att_regularregular') format('svg');
}

//Omnes_ATT W02 Italic
@font-face {
  font-family: omnes-italic;
  src: url('fonts/omnes-att/omnes-att-w02-italic.eot');
  src: url('fonts/omnes-att/omnes-att-w02-italic.eot?#iefix') format('embedded-opentype'),
  url('fonts/omnes-att/omnes-att-w02-italic.woff') format('woff'),
  url('fonts/omnes-att/omnes-att-w02-italic.ttf') format('truetype'),
  url('fonts/omnes-att/omnes-att-w02-italic.svg#omnes_att_regularregular') format('svg');
}
*/
